body{
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
}
.header{
    width: 960px;
    min-height: 100px;
    padding: 20px;
    margin: auto;
    background-color: #000000;
}
.logo{
    float: left;
}
.menu{
    float: right;
}
.menu li{
    float: left;
    font-size: 18px;
    color: rgb(239, 239, 239);
    padding-top: 25px;
    padding-left: 10px;
    padding-right: 10px;
    list-style: none;
}
.menu li a{
    color: rgb(239, 239, 239);
    text-decoration: none;
}

/* Content */
.wrapper{
    width: 960px;
    margin: auto;
    background-color: rgb(255, 255, 255);
}
.sidebar{
    width: 300px;
    height: 100vh;
    padding: 10px;
    float: left;
    box-shadow: 16px -1px 14px -4px rgba(0,0,0,0.13);
    -webkit-box-shadow: 16px -1px 14px -4px rgba(0,0,0,0.13);
    -moz-box-shadow: 16px -1px 14px -4px rgba(0,0,0,0.13);
}
.sidebar li a{
    text-decoration: none;
    color: black;
}
.content{
    width: 630px;
    float: right;
}

.card-item{
    max-width: 230px;
    float: left;
    margin:20px ;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 16px 12px 14px -4px rgba(0,0,0,0.13);
-webkit-box-shadow: 16px 12px 14px -4px rgba(0,0,0,0.13);
-moz-box-shadow: 16px 12px 14px -4px rgba(0,0,0,0.13);
}
.card-item img{
    max-width: 230px;
    height: 200px;
}
.card-item h1{
    font-size: 20px;
}
.card-item p{
    text-align: justify;
}
.card-item a{
    text-decoration: none;
    color: white;
}
.card-item button{
    background-color: #000000;
    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    cursor: pointer;
    text-align: center;
}

/* Berita */
.berita{
    max-width: 560px;
    float: left;
    margin:20px ;
    padding: 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 16px 12px 14px -4px rgba(0,0,0,0.13);
-webkit-box-shadow: 16px 12px 14px -4px rgba(0,0,0,0.13);
-moz-box-shadow: 16px 12px 14px -4px rgba(0,0,0,0.13);
}
.berita img{
    max-width: 560px;
    height: 360px;
}
.berita p{
    text-align: justify;
}
.berita h2{
    font-size: 20px;
}
.berita a{
    color: black;
}
.breadcumb a{
    text-decoration: none;
    font-weight: 400;
}
.breadcumb{
    text-decoration: none;
    font-weight: 600;
}